<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= @user.class %><br>
<ul>
    <li><%= current_user.name %></li>
    <li><%= current_user.password %></li>
    <li><%= current_user.email %></li>
    </ul>
<%= link_to "Edit Profile", edit_user_path %>
